body {
  text-align: center;
}
.card-body {
  background-color: #4aaaa5;
  color: white;
  height: 400px;
  margin-top: 40px;
  padding: 0px;
}
i {
  padding: 0 1rem;
}
#card-color {
  background-color: #777777;
  height: 200px;
  margin-bottom: 25px;
}
.card {
  border: 0px;
}
.background {
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/green_gobbler.png");
}
img {
  border-style: solid !important;
}
